body, html{
	margin: 0;
	padding: 5px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: whitesmoke;
	user-select: none;
}
canvas, #canvas{
	cursor: crosshair;
	position: absolute;
	display: inline-block;
	right: 10px;
	/*width и height задаются в скрипте script.js*/
	/*width: calc(60% - 10px);*/
	/*height: calc(100% - 20px);*/
}
button:active, button:focus, select:active, select:focus {
	outline: none;
}
div{
	cursor: default;
}
button, select, input{
	cursor: pointer;
}
#loading{
	font-size: 25px;
	text-align: center;
	margin-top: calc(50vh - 25px);
	margin-left: 40%;
	color: #89A4F5;
	display: inline-block;
}
#leftButtons{
	position: absolute;
	width: calc(40% - 20px);
	height: calc(100% - 20px);
	overflow: auto;
}
#buttonContainer1{
	width: calc(100% - 40px);
	background-color: khaki;
	padding: 10px;
	border-style: groove;
	border-radius: 5px;
}
#buttonContainer1 p{
	color: darkgreen;
	font-size: 1.4vw;
	text-align: justify;
}
#goToMain{
	width: 50%;
	height: 50px;
	overflow: hidden;
	font-size: 1.2vw;
	background-color: lightgoldenrodyellow;
	border-style: ridge;
	border-color: aliceblue;
	color: #555;
	font-family: "Tahoma";
}
#goToMain:hover, #goToMain:focus{
	border-color: cadetblue;
}
#buttonContainer2{
	margin-top: 25px;
	width: calc(100% - 40px);
	background-color: khaki;
	padding: 10px;
	border-style: groove;
	border-radius: 5px;
}
#buttonContainer2 p{
	color: darkgreen;
	font-size: 1.4vw;
	text-align: justify;
}
#showWindowOfParameters{
	width: 50%;
	height: 50px;
	overflow: hidden;
	font-size: 1.2vw;
	background-color: lightgoldenrodyellow;
	border-style: ridge;
	border-color: aliceblue;
	color: #555;
	font-family: "Tahoma";
}
#showWindowOfParameters:hover, #showWindowOfParameters:focus{
	border-color: cadetblue;
}
#buttonContainer3{
	margin-top: 25px;
	width: calc(100% - 40px);
	background-color: khaki;
	padding: 10px;
	border-style: groove;
	border-radius: 5px;
}
#buttonContainer3 p{
	color: darkgreen;
	font-size: 1.4vw;
	text-align: justify;
}
#showNormalModel{
	width: 50%;
	height: 50px;
	overflow: hidden;
	font-size: 1.2vw;
	background-color: lightgoldenrodyellow;
	border-style: ridge;
	border-color: aliceblue;
	color: #555;
	font-family: "Tahoma";
}
#showNormalModel:hover, #showNormalModel:focus{
	border-color: cadetblue;
}
#buttonContainer4{
	margin-top: 25px;
	width: calc(100% - 40px);
	background-color: khaki;
	padding: 10px;
	border-style: groove;
	border-radius: 5px;
}
#buttonContainer4 p{
	color: darkgreen;
	font-size: 1.4vw;
	text-align: justify;
}
#showWindowBasicModel{
	width: 50%;
	height: 50px;
	overflow: hidden;
	font-size: 1.2vw;
	background-color: lightgoldenrodyellow;
	border-style: ridge;
	border-color: aliceblue;
	color: #555;
	font-family: "Tahoma";
}
#showWindowBasicModel:hover, #showWindowBasicModel:focus{
	border-color: cadetblue;
}
#buttonContainer5{
	margin-top: 25px;
	width: calc(100% - 40px);
	background-color: khaki;
	padding: 10px;
	border-style: groove;
	border-radius: 5px;
}
#buttonContainer5 p{
	color: darkgreen;
	font-size: 1.4vw;
	text-align: justify;
}
#downloadButton{
	width: 50%;
	height: 50px;
	overflow: hidden;
	font-size: 1.2vw;
	background-color: lightgoldenrodyellow;
	border-style: ridge;
	border-color: aliceblue;
	color: #555;
	font-family: "Tahoma";
}
#downloadButton:hover, #downloadButton:focus{
	border-color: cadetblue;
}





#windowOfParameters, #windowBasicModel{
	z-index: 2;
	position: absolute;
	width: calc(40% - 20px - 6px); /* Еще -6 за рамку с двух сторон */
	height: calc(100% - 20px - 6px);
	background-color: lemonchiffon;
	background-color: beige;
	border-style: double;
	border-width: 3px;
	border-color: steelblue;
	overflow: auto;
	display: none;
}

#closeWindowOfParameters, #closeWindowBasicModel{
	margin-left: auto;
	margin-right: 1px;
	margin-top: 1px;
	display: block;
	font-size: 1vw;
	border-style: none;
	background-color: coral;
}
#closeWindowOfParameters:hover, #closeWindowBasicModel:hover, #closeWindowOfParameters:focus, #closeWindowBasicModel:focus{
	background-color: #ff581b;
}
#materialsLabel{
	margin-left: 20px;
	font-size: 1.5vw;
	color: firebrick;
}
#materials{
	width: 50%;
	font-size: 1.3vw;
	border-style: solid;
	border-color: darkgray;
	border-width: medium;
	border-radius: 10px;
}
#strength{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 1.5vw;
	color: firebrick;
	display: inline-block;
}
#strengthValue{
	display: inline-block;
	font-size: 1.5vw;
}
#strengthValuePost{
	display: inline-block;
	font-size: 1.5vw;
}
#powerLabel{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 1.5vw;
	color: firebrick;
	display: inline-block;
	/*display: none;*/
}
#power{
	margin-left: 20px;
	width: 20vw;
	display: inline;
	margin-top: 20px;
}

#powerText{
	/*top: 90px;
	left: 20px;
	text-align: left;*/

	/*display: none;*/
}
#powerValue{
	display: inline-block;
	font-size: 1.5vw;
}
#strengthAnalysis{
	/*position: absolute;
	bottom: 20px;
	right: 20px;*/
	display: block;
	margin-left: auto;
	margin-right: 20px;
	font-size: 1.2vw;
	margin-bottom: 20px;
	margin-top: 20px;
}
#PowerPlane{
	margin-top: 20px;
	text-align: left;
}
#selectedPowerPlaneText{
	/*width: 20%;
	top: 150px;
	left: 20px;*/
	display: inline-block;
	/*margin-top: 20px;*/
	font-size: 1.5vw;
	color: firebrick;
	/*text-align: center;*/

	/*display: none;*/
}
#selectedPowerPlane{
/*	top: 200px;
	left: 20px;
	width: 20%;*/
	display: inline-block;
	text-align: center;
	font-weight: bold;
	color: red;
	font-size: 1.5vw;
	/*display: none;*/
}
#closePlane{
/*	position: absolute;
	display: block;
	top: 230px;
	left: 20px;*/
	/*width: 20%;*/
	display: inline-block;
	/*margin-top: 20px;*/
	text-align: center;
	font-weight: bold;
	font-size: 1.2vw;
	margin-left: 20px;
	/*display: none;*/
}
#loadingContainer{
	margin-top: 20px;
	height: 2vw;
}
#analysisLoading{
	/*position: relative;*/
	/*margin-top: 20px;*/
	color: blue;
	font-size: 2vw;
	font-family: "Arial";
	display: none;
}
#choisePlane{
	/*position: absolute;*/
	/*top: 150px;*/
	/*right: 30%;*/
	margin-top: 20px;
	width: 50%;
	padding: 5px;
	/*height: 95px;*/
	border-style: dashed;
	border-radius: 5px;
	border-color: chocolate;
	background-color: lightyellow;

	/*display: none;*/
}
#buttonsArrayText{
	position: relative;
	font-size: 1.5vw;
	/*display: none;*/
}
#buttonsArray{
	position: relative;
	/*width: 100%;*/

	/*display: none;*/
}
#buttonsArray button{
	width: 30%;
	margin-top: 5px;
	font-size: 1.2vw;
	/*display: none;*/
}


#changesPower{
	margin-top: 20px;
	display: inline-block;
	text-align: left;
	font-size: 1.5vw;
}
#changeMaxPowerP{
	margin: 0;
	/*position: absolute;
	left: 150px;
	top: 50px;*/

	/*display: none;*/
}
#changeMaxPower{
	width: 4.5vw;
	font-size: 1.2vw;
	/*margin-left: 20px;*/
	/*display: none;*/
}
#changeMinPowerP{
	margin: 0;
	/*position: absolute;
	left: 150px;
	top: 80px;
	
	display: none;*/
}
#changeMinPower{
	width: 4.5vw;
	font-size: 1.2vw;
	/*margin-left: 20px;*/
	/*text-align: center;*/
	/*display: none;*/
}
#selectMeasureText{
	/*width: 60px;
	right: 60px;
	top: 150px;

	display: none;*/
	font-size: 1.5vw;
	margin-left: 20px;
	margin-top: 20px;
	color: firebrick;
	display: inline-block;
}
#selectMeasure{
	font-size: 1.2vw;
	display: inline-block;
	border-style: solid;
	border-color: darkgray;
	border-width: medium;
	border-radius: 10px;
	/*position: absolute;
	display: block;
	width: 60px;
	right: 20px;
	top: 188px;

	display: none;*/
}
#changeRangePlane{
	/*position: absolute;
	display: block;
	top: 300px;
	left: 140px;

	display: none;*/
	width: 50%;
}
#changeRangePlaneText{
	/*top: 270px;
	width: 100%;
	text-align: center;

	display: none;*/
	font-size: 1.5vw;
	color: firebrick;
}

/*Окно выбора вида модели*/
#checkWireFrameP{
	/*width: 50%;*/
	/*position: absolute;
	display: block;
	width: 200px;
	top: 20px;
	left: 40px;

	display: none;*/
}
#choiseColorFrameP{
	/*position: absolute;
	display: block;
	width: 200px;
	bottom: 20px;
	left: 40px;

	display: none;*/
}
#choiseColorFrame{
	/*width: 50px;*/
	border-radius: 1px;
	width: 5vw;
	/*display: none;*/
}
#showBasicModel{
	display: block;
	margin-left: auto;
	margin-right: 25%;
	margin-top: 20px;
	/*position: absolute;
	display: block;
	width: 100px;
	height: 50px;
	right: 20px;
	bottom: 20px;

	display: none;*/
}
#borderOfTools{
	/*position: absolute;*/
	/*width: 80%;*/
	/*height: 150px;*/
	/*top : 40px;*/
	/*left: 10%;*/
	width: 50%;
	margin-left: 25%;
	margin-top: 25%;
	font-size: 1.5vw;
	background-color: lightyellow;
	border-style: dashed;
	border-color: chocolate;

	/*display: none*/
}

#legend{
	position: absolute;
	z-index: 2;
	width: 10%;
	top: 10px;
	right: 50%;
	height: 50%;
	display: none;
	text-align: right;
	/*right и bottom в файле прочностного анализа*/
}

#closeLegend{
	font-size: 10pt;
}


