<!DOCTYPE html>
<html>
<head>
	<title>404</title>
	<style type="text/css">
		body{
			color: #89A4F5;
		}
		#type{
			font-size: 50vh;
			margin-top: 5vh;
			margin-left: 25vw;
		}
		#text{
			font-size: 10vh;
			margin-left: 50vw;
		}
	</style>
</head>
<body>
	<div id = "type">404</div>
	<div id = "text">Модель не найдена</div>
</body>
</html>